@use 'sass:math';
@use 'sass:list';

$particle-size: 22vmin;
$animation-duration: 7s;
$amount: 10;

.screen-lights-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  contain: strict;

  @extend %fade-in;
}

.screen-light {
  width: $particle-size;
  height: $particle-size;
  border-radius: 50%;
  position: absolute;
  will-change: transform; 
  backface-visibility: hidden;
  transform: translateZ(0);
  animation: move $animation-duration linear infinite;
}

body:has(
    :not(
      #about,
      #blog,
      #documentation,
      #error-404,
      #home,
      #offer,
      #license,
      #login,
      #register,
      #services
    )
  )
  .screen-lights-container
  .screen-light {
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: if(
        math.random() > 0.5,
        var(--main-item-highlight-color-user),
        var(--main-item-secondary-color-user)
      );
      top: math.random(100) * 1%;
      left: math.random(100) * 1%;
      animation-duration: math.random(math.div($animation-duration, 1s)) * 1s + 12s;
      animation-delay: -#{math.random(10)}s;
      transform-origin: (math.random(50) - 25) * 1vw (math.random(50) - 25) * 1vh;

      $blur-radius: (math.random() + 0.5) * $particle-size * 0.4;
      $x: if(math.random() > 0.5, -1, 1);

      box-shadow: ($particle-size * 2 * $x) 0 $blur-radius currentcolor;
    }
  }
}

body:has(
    #about,
    #blog,
    #documentation,
    #error-404,
    #home,
    #offer,
    #license,
    #login,
    #register,
    #services
  )
  .screen-lights-container
  .screen-light {
  $colors: (#10b98119, #10b98111, #10b98122);

  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: list.nth($colors, (($i - 1) % list.length($colors)) + 1) !important;
      top: math.random(100) * 1%;
      left: math.random(100) * 1%;
      animation-duration: math.random(math.div($animation-duration, 1s)) * 1s + 12s;
      animation-delay: -#{math.random(10)}s;
      transform-origin: (math.random(50) - 25) * 1vw (math.random(50) - 25) * 1vh;

      $blur-radius: (math.random() + 0.5) * $particle-size * 0.4;
      $x: if(math.random() > 0.5, -1, 1);

      box-shadow: ($particle-size * 2 * $x) 0 $blur-radius currentcolor;
    }
  }
}

html:not(.p-dark)
  body:has(
      #about,
      #blog,
      #documentation,
      #error-404,
      #home,
      #offer,
      #license,
      #login,
      #register,
      #services
    )
    .screen-lights-container
    .screen-light {
  $colors: (#10b98138, #10b98128, #10b98145);

  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: list.nth($colors, (($i - 1) % list.length($colors)) + 1) !important;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .screen-light {
    animation: none !important;
  }
}
